torch
torchvision
opencv-python
tqdm
pyyaml
pytorchyolo
pandas
seaborn
natsort
kornia
setuptools==59.5.0
numpy
diffusers==0.13.1
triton==2.0.0
xformers==0.0.16
transformers==4.26.0
datasets==2.10.1
accelerate==0.16.0
ftfy
tensorboard
Jinja2
tensorflow
#git+https://github.com/openai/CLIP.git

